$transition-time: 0.3s;

.items-row__container {
  margin-top: -360px;
  margin-left: -640px;

  position: absolute;
  width: 100%;
  max-width: 1280px;
  height: 720px;
  left: 50%;

  display: none;
  visibility: hidden;
  top: 140%;
  transition: top $transition-time ease-in;

  &.shown {
    display: block;
    visibility: visible;

    &[data-index="0"] {
      top: -29%;
    }

    &[data-index="1"] {
      top: 50%;
    }

    &[data-index="2"] {
      top: 127%;
    }
  }
}
